.root {
  position: absolute;
  left: -8.6835%;
  right: 85.4342%;
  top: -558.3333%;
  bottom: 575%;
  width: min-content;
  height: 40px;
  flex-direction: column;
  outline: solid 1px #79747e;
  outline-offset: -1px;
  border-radius: 100px;
  overflow: hidden;
}
.stateLayer {
  flex: 1;
  align-self: stretch;
  place-content: center;
  align-items: center;
  padding: 10px 24px;
}
.labelText {
  color: #6750a4;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
