.navigationRail.navigationRail {
  left: 0;
  top: 154px;
  width: 148px;
  height: 746px;
}
.menuFab.menuFab {
  height: 108px;
}
.menu.menu.menu {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  place-content: initial;
  align-items: initial;
}
.container.container.container {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer.stateLayer.stateLayer {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.iconsMenu_24px.iconsMenu_24px.iconsMenu_24px {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon {
  width: 100%;
  height: 100%;
}
.frame11.frame11 {
  left: 50%;
}
.keyboard_backspace.keyboard_backspace {
  left: 2.3611%;
  right: 92.0833%;
  top: 5%;
  bottom: 86.1111%;
  width: initial;
  height: initial;
}
.vector.vector {
  left: 92.0833%;
  right: 2.3611%;
  top: 4.1111%;
  bottom: 87%;
  width: initial;
  height: initial;
}
.root {
  position: relative;
  width: 1440px;
  height: 900px;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  background-color: #000000db;
  overflow-y: auto;
  overflow-x: hidden;
}
.cALENDARIO {
  color: #fff;
  font-size: 57px;
  line-height: 64px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.25px;
  position: absolute;
  left: 522px;
  top: 45px;
  width: 396px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.mes {
  color: #fff;
  font-size: 45px;
  line-height: 52px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 678px;
  top: 198px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle9 {
  transform-origin: top left;
  position: absolute;
  left: 630px;
  top: 223.1979px;
  width: 34.9068px;
  height: 7.8911px;
  border-radius: 5px;
  background-color: #fff;
  transform: matrix(0.9135, -0.4067, 0.2819, 0.9595, 0, 0);
}
.rectangle10 {
  transform-origin: top left;
  position: absolute;
  left: 633.0571px;
  top: 221.2461px;
  width: 33.2278px;
  height: 7.8911px;
  border-radius: 5px;
  background-color: #fff;
  transform: matrix(0.9135, 0.4067, -0.2819, 0.9595, 0, 0);
}
.rectangle92 {
  transform-origin: top left;
  position: absolute;
  left: 810.1133px;
  top: 228.1344px;
  width: 34.9068px;
  height: 7.8911px;
  border-radius: 5px;
  background-color: #fff;
  transform: matrix(-0.9135, 0.4067, -0.2819, -0.9595, 0, 0);
}
.rectangle102 {
  transform-origin: top left;
  position: absolute;
  left: 807.0562px;
  top: 230.0861px;
  width: 33.2278px;
  height: 7.8911px;
  border-radius: 5px;
  background-color: #fff;
  transform: matrix(-0.9135, -0.4067, 0.2819, -0.9595, 0, 0);
}
