.root {
  left: 1326px;
  top: 37px;
  align-items: flex-start;
}
.vector {
  position: absolute;
  left: 82.9rem;
  right: 0;
  top: 2.3rem;
  bottom: 0;
  overflow: visible;
  width: 80px;
  height: 80px;
}

