.textField2.textField2 {
  left: 521px;
  top: 383px;
  width: 396px;
  outline: solid 0 #ccc;
  outline-offset: 0;
}
.textField.textField {
  z-index: 0;
}
.button.button {
  left: calc(50% - 0.5px);
  top: 484px;
  width: 233px;
  height: 80px;
  transform: translateX(-50%);
}
.labelText {
  color: #000;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.keyboard_backspace.keyboard_backspace {
  left: 2.3611%;
  right: 92.0833%;
  top: 5%;
  bottom: 86.1111%;
  width: initial;
  height: initial;
}
.button2.button2 {
  position: initial;
  top: initial;
  left: initial;
  width: 154px;
  height: 48px;
  outline: solid 1px #ccc;
  border-radius: 12px;
}
.stateLayer.stateLayer {
  background-color: #ec6449;
}
.labelText2 {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1440px;
  height: 900px;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  background-color: #000000db;
  overflow: hidden;
}
.rECUPERARCONTRASENA {
  color: #fff;
  font-size: 57px;
  line-height: 64px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.25px;
  position: absolute;
  left: calc(50% - -16.5px);
  top: 45px;
  width: 751px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle8 {
  position: absolute;
  left: 448px;
  top: 263px;
  width: 544px;
  height: 396px;
  border-radius: 25px;
  background-color: #433e3f;
  box-shadow: 0px 4px 4px 0px #0000004d;
}
.correoElectronico {
  color: #fff;
  font-size: 45px;
  line-height: 52px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 521px;
  top: 324px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.basicDialog {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 344px;
  flex-direction: column;
  place-content: center;
  align-items: center;
  border-radius: 28px;
  background-color: #ccc;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.textContent {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.titleDescription {
  width: 400px;
  height: min-content;
  flex-direction: column;
  gap: 16px;
  padding: 24px 24px 0;
  overflow: hidden;
}
.headline {
  color: #000;
  font-size: 32px;
  line-height: 40px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.supportingText {
  color: #333;
  font-size: 24px;
  line-height: 32px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.25px;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
