.textField2.textField2 {
  left: 487px;
  top: 314px;
  width: 468px;
  outline: solid 0 #ccc;
  outline-offset: 0;
}
.textField.textField {
  z-index: 0;
  outline: solid 1px #999;
}
.textField4.textField4 {
  left: 487px;
  top: 494px;
  width: 468px;
  outline: solid 0 #ccc;
  outline-offset: 0;
}
.textField3.textField3 {
  z-index: 0;
  outline: solid 1px #999;
}
.button.button {
  left: 736px;
  top: 594px;
  width: 177.6649px;
  height: 80px;
  outline: initial;
  outline-offset: initial;
  border-radius: 12px;
  background-color: #ec6449;
}
.cancelar {
  color: #fff;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.button2.button2 {
  left: 528px;
  top: 594px;
  width: 177.6649px;
  height: 80px;
  outline: initial;
  outline-offset: initial;
  border-radius: 12px;
}
.stateLayer.stateLayer {
  background-color: #999;
}
.cambiar {
  color: #fff;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.keyboard_backspace.keyboard_backspace {
  left: 2.3611%;
  right: 92.0833%;
  top: 5%;
  bottom: 86.1111%;
  width: initial;
  height: initial;
}
.root {
  position: relative;
  width: 1440px;
  height: 900px;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  background-color: #000000db;
  overflow: hidden;
}
.cAMBIARCONTRASENA {
  color: #fff;
  font-size: 57px;
  line-height: 64px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.25px;
  position: absolute;
  left: calc(50% - -0.5px);
  top: 45px;
  width: 719px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.rectangle8 {
  position: absolute;
  left: 422px;
  top: 169px;
  width: 598px;
  height: 673px;
  border-radius: 25px;
  background-color: #433e3f;
  box-shadow: 0px 4px 4px 0px #0000004d;
}
.contrasena {
  color: #fff;
  font-size: 45px;
  line-height: 52px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 491px;
  top: 252px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.confirmarContrasena {
  color: #fff;
  font-size: 45px;
  line-height: 52px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -1px);
  top: 428px;
  width: 472px;
  height: min-content;
  flex-direction: column;
  transform: translateX(-50%);
}
