.navigationRail.navigationRail {
  left: 0;
  top: 154px;
  width: 148px;
  height: 746px;
  outline: solid 1px #ec6449;
  outline-offset: -1px;
}
.menuFab.menuFab {
  height: 108px;
}
.menu.menu.menu {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  place-content: initial;
  align-items: initial;
}
.container.container.container {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer.stateLayer.stateLayer {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.iconsMenu_24px.iconsMenu_24px.iconsMenu_24px {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon {
  width: 100%;
  height: 100%;
}
.destinations.destinations {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  place-content: initial;
}
.segment1.segment1 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  align-items: initial;
}
.container2.container2 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer2.stateLayer2 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon3.icon3 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.calendar_month.calendar_month {
  right: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.label {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper {
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label2 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.label3 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label4 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.segment2.segment2.segment2 {
  height: initial;
  flex: 1;
  align-items: initial;
}
.container3.container3.container3 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer3.stateLayer3.stateLayer3 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon5.icon5 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.label5 {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label6 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.label7 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label8 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.segment3.segment3.segment3 {
  height: initial;
  flex: 1;
  align-items: initial;
}
.container4.container4.container4 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer4.stateLayer4.stateLayer4 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon7.icon7 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.label9 {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper3 {
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label10 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.label11 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label12 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.keyboard_backspace.keyboard_backspace {
  left: 2.3611%;
  right: 92.0833%;
  top: 5%;
  bottom: 86.1111%;
  width: initial;
  height: initial;
}
.vector.vector {
  left: 92.0833%;
  right: 2.3611%;
  top: 4.1111%;
  bottom: 87%;
  width: initial;
  height: initial;
}
.textField2.textField2 {
  left: calc(50% - -0.5px);
  top: 557px;
  width: 827px;
  outline: solid 0 #433e3f;
  outline-offset: 0;
  background-color: #433e3f;
  transform: translateX(-50%);
}
.textField.textField {
  z-index: 0;
  outline: solid 1px #999;
}
.labelText {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textField4.textField4 {
  left: calc(50% - -0.5px);
  top: 623px;
  width: 827px;
  outline: solid 0 #ccc;
  outline-offset: 0;
  background-color: #433e3f;
  transform: translateX(-50%);
}
.textField3.textField3 {
  z-index: 0;
  outline: solid 1px #999;
}
.labelText2 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textField6.textField6 {
  left: 1050.1373px;
  top: 271px;
  width: 64.8627px;
}
.textField5.textField5 {
  outline: solid 1px #999;
}
.root {
  position: relative;
  width: 1440px;
  height: 900px;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  background-color: #000000db;
  overflow-y: auto;
  overflow-x: hidden;
}
.dETALLETAREA {
  color: #fff;
  font-size: 57px;
  line-height: 64px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.25px;
  position: absolute;
  left: 50%;
  top: 45px;
  width: 696px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.tiempoAdicional {
  color: #fff;
  font-size: 45px;
  line-height: 52px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 288px;
  top: 271px;
  width: 418.1331px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.comentarios {
  color: #fff;
  font-size: 45px;
  line-height: 52px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 48.5px);
  top: 460px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}
.vectorAdd {
  position: absolute;
  left: 60%;
  right: 36.3889%;
  top: 51.1111%;
  bottom: 43.1111%;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.tareaFinalizada {
  color: #fff;
  font-size: 45px;
  line-height: 52px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 289px;
  top: 199.0001px;
  width: 399.6008px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.tareaReprogramada {
  color: #fff;
  font-size: 45px;
  line-height: 52px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 285px;
  top: 346px;
  width: 499.2115px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.checkboxes1 {
  position: absolute;
  left: 1047.1373px;
  top: 346px;
  width: 64.8627px;
  height: 56px;
  flex-direction: column;
  place-content: center;
  align-items: center;
  padding: 4px;
}
.stateLayer5 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  padding: 11px;
  border-radius: 100px;
}
.container5 {
  width: 56px;
  height: 56px;
  border-radius: 2px;
  background-color: #333;
}
.iconsCheck_small {
  width: 56px;
  height: 56px;
}
.icon9 {
  width: 100%;
  height: 100%;
}
