.navigationRail.navigationRail {
  left: 0;
  top: 154px;
  width: 148px;
  height: 746px;
  outline: solid 1px #ec6449;
  outline-offset: -1px;
}
.menuFab.menuFab {
  height: 108px;
}
.menu.menu.menu {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  place-content: initial;
  align-items: initial;
}
.container.container.container {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer.stateLayer.stateLayer {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.iconsMenu_24px.iconsMenu_24px.iconsMenu_24px {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon {
  width: 100%;
  height: 100%;
}
.destinations.destinations {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  place-content: initial;
}
.segment1.segment1 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  align-items: initial;
}
.container2.container2 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer2.stateLayer2 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon3.icon3 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.calendar_month.calendar_month {
  right: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.label {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper {
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label2 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.label3 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label4 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.segment2.segment2.segment2 {
  height: initial;
  flex: 1;
  align-items: initial;
}
.container3.container3.container3 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer3.stateLayer3.stateLayer3 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon5.icon5 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.label5 {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label6 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.label7 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label8 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.segment3.segment3.segment3 {
  height: initial;
  flex: 1;
  align-items: initial;
}
.container4.container4.container4 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer4.stateLayer4.stateLayer4 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon7.icon7 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.label9 {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper3 {
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label10 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.label11 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label12 {
  color: #ec6449;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.keyboard_backspace.keyboard_backspace {
  left: 2.3611%;
  right: 92.0833%;
  top: 5%;
  bottom: 86.1111%;
  width: initial;
  height: initial;
}
.vector.vector {
  left: 92.0833%;
  right: 2.3611%;
  top: 4.1111%;
  bottom: 87%;
  width: initial;
  height: initial;
}
.slot2.slot2 {
  left: 248px;
  top: 1297.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot.slot {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour.hour {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame6.frame6 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag.tag {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label14.label14 {
  padding: 4.6823px 0;
}
.label13 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot4.slot4 {
  left: 248px;
  top: 1045.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot3.slot3 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour2.hour2 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame62.frame62 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am2 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag2.tag2 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label16.label16 {
  padding: 4.6823px 0;
}
.label15 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot6.slot6 {
  left: 248px;
  top: 793.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot5.slot5 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour3.hour3 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame63.frame63 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am3 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag3.tag3 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label18.label18 {
  padding: 4.6823px 0;
}
.label17 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot8.slot8 {
  left: 248px;
  top: 541.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot7.slot7 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour4.hour4 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame64.frame64 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am4 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag4.tag4 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label20.label20 {
  padding: 4.6823px 0;
}
.label19 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot10.slot10 {
  left: 248px;
  top: 1234.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot9.slot9 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour5.hour5 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame65.frame65 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am5 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag5.tag5 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label22.label22 {
  padding: 4.6823px 0;
}
.label21 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot12.slot12 {
  left: 248px;
  top: 982.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot11.slot11 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour6.hour6 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame66.frame66 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am6 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag6.tag6 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label24.label24 {
  padding: 4.6823px 0;
}
.label23 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot14.slot14 {
  left: 248px;
  top: 730.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot13.slot13 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour7.hour7 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame67.frame67 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am7 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag7.tag7 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label26.label26 {
  padding: 4.6823px 0;
}
.label25 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot16.slot16 {
  left: 248px;
  top: 478.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot15.slot15 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour8.hour8 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame68.frame68 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am8 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag8.tag8 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label28.label28 {
  padding: 4.6823px 0;
}
.label27 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot18.slot18 {
  left: 248px;
  top: 1171.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot17.slot17 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour9.hour9 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame69.frame69 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am9 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag9.tag9 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label30.label30 {
  padding: 4.6823px 0;
}
.label29 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot20.slot20 {
  left: 248px;
  top: 919.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot19.slot19 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour10.hour10 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame610.frame610 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am10 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag10.tag10 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label32.label32 {
  padding: 4.6823px 0;
}
.label31 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot22.slot22 {
  left: 248px;
  top: 667.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot21.slot21 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour11.hour11 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame611.frame611 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am11 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag11.tag11 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label34.label34 {
  padding: 4.6823px 0;
}
.label33 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot24.slot24 {
  left: 248px;
  top: 415.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot23.slot23 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour12.hour12 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame612.frame612 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am12 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag12.tag12 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label36.label36 {
  padding: 4.6823px 0;
}
.label35 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot26.slot26 {
  left: 248px;
  top: 289.8848px;
  width: 1076.8829px;
  height: 56.0939px;
  background-color: #433e3f;
}
.slot25.slot25 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour13.hour13 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame613.frame613 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am13 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag13.tag13 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label38.label38 {
  padding: 4.6823px 0;
}
.label37 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot28.slot28 {
  left: 248px;
  top: 1108.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot27.slot27 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour14.hour14 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame614.frame614 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am14 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag14.tag14 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label40.label40 {
  padding: 4.6823px 0;
}
.label39 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot30.slot30 {
  left: 248px;
  top: 856.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot29.slot29 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour15.hour15 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame615.frame615 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am15 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag15.tag15 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label42.label42 {
  padding: 4.6823px 0;
}
.label41 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot32.slot32 {
  left: 248px;
  top: 604.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot31.slot31 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour16.hour16 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame616.frame616 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am16 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag16.tag16 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label44.label44 {
  padding: 4.6823px 0;
}
.label43 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.slot34.slot34 {
  left: 248px;
  top: 352.8848px;
  width: 1076.8829px;
  height: 63.0939px;
  background-color: #433e3f;
}
.slot33.slot33 {
  gap: 13.169px;
  padding: 0 18.7293px 0 0;
  box-shadow: inset 0px -1.1706px 0px #999;
}
.hour17.hour17 {
  padding: 9.3646px 18.7293px;
  box-shadow: inset -1.1706px 0px 0px #999;
}
.frame617.frame617 {
  width: 70.2347px;
  padding: 4.6823px 0;
}
._6Am17 {
  color: #fff;
  font-size: 23.4116px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag17.tag17 {
  width: 7.9014px;
  height: 47.4085px;
  border-radius: 5.2676px;
  background-color: #ccc;
}
.label46.label46 {
  padding: 4.6823px 0;
}
.label45 {
  color: #ec6449;
  font-size: 21.0704px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.endSlot.endSlot {
  left: 248px;
  top: 1360.8848px;
  width: 1078px;
  height: 63.1231px;
  background-color: #433e3f;
}
.slot35.slot35 {
  gap: 13.1827px;
  padding: 0 18.7487px 0 0;
}
.hour18.hour18 {
  padding: 9.3743px 18.7487px;
  box-shadow: inset -1.1718px 0px 0px #999;
}
.frame618.frame618 {
  width: 70.3076px;
  padding: 4.6872px 0;
}
._6Am18 {
  color: #fff;
  font-size: 23.4359px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.tag18.tag18 {
  width: 7.9096px;
  height: 47.4576px;
  border-radius: 5.2731px;
  background-color: #ccc;
}
.label48.label48 {
  padding: 4.6872px 0;
}
.label47 {
  color: #ec6449;
  font-size: 21.0923px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1440px;
  height: 900px;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  background-color: #000000db;
  overflow-y: auto;
  overflow-x: hidden;
}
.cALENDARIO {
  color: #fff;
  font-size: 57px;
  line-height: 64px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.25px;
  position: absolute;
  left: 522px;
  top: 45px;
  width: 396px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.diaDelMes {
  color: #fff;
  font-size: 30px;
  line-height: 150%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.019em;
  position: absolute;
  left: 248px;
  top: 191px;
  width: 300.075px;
  height: min-content;
  flex-direction: column;
}
