.icon {
  width: 100%;
  height: 100%;
}
.navigationRail.navigationRail {
  left: 0;
  top: 154px;
  width: 151px;
  height: 746px;
  background-color: #433e3f;
  box-shadow: 5px 0px 4px 0px #433e3f;
}
.menuFab.menuFab {
  height: 108px;
}
.menu.menu.menu {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  place-content: initial;
  align-items: initial;
}
.container.container.container {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer.stateLayer.stateLayer {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.iconsMenu_24px.iconsMenu_24px.iconsMenu_24px {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.destinations.destinations {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  place-content: initial;
}
.segment1.segment1 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  align-items: initial;
}
.container2.container2 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer2.stateLayer2 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon4.icon4 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.calendar_month.calendar_month {
  right: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.label {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper {
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label2 {
  color: #999;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.label3 {
  color: #999;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label4 {
  color: #999;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.segment2.segment2.segment2 {
  height: initial;
  flex: 1;
  align-items: initial;
}
.container3.container3.container3 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer3.stateLayer3.stateLayer3 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon6.icon6 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.label5 {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label6 {
  color: #fc8653;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.label7 {
  color: #fc8653;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label8 {
  color: #fc8653;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.segment3.segment3.segment3 {
  height: initial;
  flex: 1;
  align-items: initial;
}
.container4.container4.container4 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.stateLayer4.stateLayer4.stateLayer4 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon8.icon8 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.label9 {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper3 {
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label10 {
  color: #999;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.label11 {
  color: #999;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label12 {
  color: #999;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
}
.keyboard_backspace.keyboard_backspace {
  left: 2.3611%;
  right: 92.0833%;
  top: 5%;
  bottom: 86.1111%;
  width: initial;
  height: initial;
}
.vector.vector {
  left: 92.0833%;
  right: 2.3611%;
  top: 4.1111%;
  bottom: 87%;
  width: initial;
  height: initial;
}
.textField2.textField2 {
  right: 73.057%;
  top: 0;
  bottom: 0;
  width: 260px;
  outline: solid 0 #ccc;
  outline-offset: 0;
}
.textField.textField {
  z-index: 0;
  outline: solid 1px #999;
}
.textField4.textField4 {
  left: 38.2383%;
  right: 34.8187%;
  top: 0;
  bottom: 0;
  width: 260px;
  outline: solid 0 #ccc;
  outline-offset: 0;
}
.textField3.textField3 {
  z-index: 0;
  outline: solid 1px #999;
}
.textField6.textField6 {
  left: 73.057%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 260px;
  outline: solid 0 #ccc;
  outline-offset: 0;
}
.textField5.textField5 {
  z-index: 0;
  outline: solid 1px #999;
}
.textField8.textField8 {
  right: 73.0849%;
  top: 0;
  bottom: 6.6667%;
  width: 260px;
  outline: solid 0 #ccc;
  outline-offset: 0;
}
.textField7.textField7 {
  z-index: 0;
  outline: solid 1px #999;
}
.textField10.textField10 {
  left: 38.1988%;
  right: 34.8861%;
  top: 0;
  bottom: 6.6667%;
  width: 260px;
  outline: solid 0 #ccc;
  outline-offset: 0;
}
.textField9.textField9 {
  z-index: 0;
  outline: solid 1px #999;
}
.listItemProyecto2.listItemProyecto2 {
  top: 66.6667%;
  bottom: 0;
}
.headline {
  color: #fff;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.stateLayerOverlay.stateLayerOverlay {
  width: 1133px;
  height: 56px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #fff;
}
.root {
  position: relative;
  width: 1440px;
  height: 900px;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  background-color: #000000db;
  overflow-y: auto;
  overflow-x: hidden;
}
.pROYECTOSCOMPLETADOS {
  color: #fff;
  font-size: 57px;
  line-height: 64px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.25px;
  position: absolute;
  left: calc(50% - -17px);
  top: 50px;
  width: 844px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.frame14 {
  position: absolute;
  left: 233px;
  top: 172px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.group25 {
  position: relative;
  width: 965px;
  height: 35px;
}
.fechaInicio {
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 82.487%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.fechaFin {
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 38.2383%;
  right: 47.6684%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.numeroDeTareas {
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 73.057%;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.group22 {
  position: relative;
  width: 965px;
  height: 56px;
}
.group24 {
  position: relative;
  width: 473px;
  height: 41px;
}
.estadoProyecto {
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 50.74%;
  top: 0;
  bottom: 14.6341%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.avance {
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 78.0127%;
  right: 0;
  top: 14.6341%;
  bottom: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.group23 {
  position: relative;
  width: 966px;
  height: 60px;
}
.group20 {
  position: relative;
  width: 1133px;
  height: 168px;
}
.listItemProyecto {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 66.6667%;
  width: 1133px;
  height: 56px;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
}
.stateLayer5 {
  flex: 1;
  align-self: stretch;
  align-items: center;
  gap: 16px;
  padding: 8px 24px 8px 16px;
  background-color: #333;
}
.content {
  position: relative;
  flex: 1;
  align-self: stretch;
  place-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.headline2 {
  color: #fff;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  left: 50%;
  top: calc(50% - 2px);
  width: 1093px;
  height: min-content;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.headline3 {
  color: #fff;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  left: 863px;
  top: 0;
  width: 1093px;
  height: min-content;
  flex-direction: column;
}
